{% assign scheme_class = '' %}
{% unless block.settings.inherit_scheme %}
  {% assign scheme_class = 'color-' | append: block.settings.color_scheme %}
{% endunless %}

{% capture rendered_marquee %}
  {% render 'marquee', items: block.settings.text_list, speed: block.settings.speed, direction: block.settings.direction %}
{% endcapture %}

{% if block.settings.pin_bottom %}
  <div class="absolute bottom-0 left-0 z-floating w-full border-t border-std {{ scheme_class }} bg-body] text-body no-stagger"
       style="opacity: {{ block.settings.opacity | divided_by: 100.0 }};">
    {{ rendered_marquee }}
  </div>

{% else %}
  <div class="wrapper relative left-[calc(-50vw+50%)] my-4 z-base no-stagger">
    <div class="border-y border-std {{ scheme_class }} bg-body text-body" 
         style="opacity: {{ block.settings.opacity | divided_by: 100.0 }};">
      {{ rendered_marquee }}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Scrolling Marquee",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "pin_bottom",
      "label": "Pin to Bottom",
      "default": false,
      "info": "Fixes the marquee to the bottom of the section."
    },
    {
      "type": "range",
      "id": "opacity",
      "label": "Opacity",
      "min": 0, "max": 100, "default": 95
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "text_list",
      "label": "Items",
      "default": "Fresh Pasta, Live Music"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Speed",
      "min": 5, "max": 30, "default": 15
    },
    {
      "type": "header",
      "content": "Theme"
    },
    {
      "type": "checkbox",
      "id": "inherit_scheme",
      "label": "Inherit Color Scheme",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-2"
    }
  ]
}
{% endschema %}