{% assign s = section.settings %}
{% capture section_spacing_style %}
  {% if s.padding_vertical == 'custom' %}
    --space-pt: {{ s.padding_vertical_custom_top }}px;
    --space-pb: {{ s.padding_vertical_custom_bottom }}px;
  {% endif %}
  {% if s.padding_horizontal == 'custom' %}
     --space-pl: {{ s.padding_horizontal_custom_left }}px;
     --space-pr: {{ s.padding_horizontal_custom_right }}px;
  {% endif %}
{% endcapture %}
{% capture section_spacing_class %}
  padding-py-{{ s.padding_vertical }}
  padding-px-{{ s.padding_horizontal }}
{% endcapture %}

<footer
  class="section-footer color-{{ s.color_scheme | default: 'none' }} bg-body text-body"
  {{ context.attached_attributes }}
>
  <div
    class="width-{{ s.width_scheme }} limit-width {{ section_spacing_class }}"
    style="{{ section_spacing_style }}"
  >
    <div class="flex flex-auto flex-col md:flex-row justify-content-{{ s.justify_content }}">
      {% content_for 'blocks' %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "restriction": { "groups": ["footer"] },
  "settings": [
    { "type": "header", "content": "Layout" },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Alignment",
      "options": [
        { "value": "start", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "end", "label": "Right" },
        { "value": "between", "label": "Space Between" }
      ],
      "default": "center"
    },
    {
      "type": "width_scheme",
      "id": "width_scheme",
      "label": "Content Width",
      "default": "standard"
    },
    { "type": "header", "content": "Section Spacing" },
    {
      "type": "select",
      "id": "padding_vertical",
      "label": "Vertical Padding",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "xs", "label": "Extra Small" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "Extra Large" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "sm"
    },
    {
      "type": "range",
      "id": "padding_vertical_custom_top",
      "label": "Custom Top Padding",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 0,
      "conditional": "setting.padding_vertical == 'custom'"
    },
    {
      "type": "range",
      "id": "padding_vertical_custom_bottom",
      "label": "Custom Bottom Padding",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 0,
      "conditional": "setting.padding_vertical == 'custom'"
    },
    {
      "type": "select",
      "id": "padding_horizontal",
      "label": "Horizontal Padding",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "xs", "label": "Extra Small" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "Extra Large" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "xs"
    },
    {
      "type": "range",
      "id": "padding_horizontal_custom_left",
      "label": "Custom Left Padding",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 0,
      "conditional": "setting.padding_horizontal == 'custom'"
    },
    {
      "type": "range",
      "id": "padding_horizontal_custom_right",
      "label": "Custom Right Padding",
      "min": 0,
      "max": 128,
      "step": 4,
      "default": 0,
      "conditional": "setting.padding_horizontal == 'custom'"
    },
    { "type": "header", "content": "Bottom Bar" },
    { "type": "textarea", "id": "copyright_text", "label": "Copyright Text", "default": "{{ shop.name }}" },
    { "type": "checkbox", "id": "show_policy", "label": "Show Policy Links", "default": true },
    { "type": "checkbox", "id": "show_payment", "label": "Show Payment Icons", "default": true },

    { "type": "header", "content": "Theme" },
    { "type": "color_scheme", "id": "color_scheme", "label": "Color Palette", "default": "default" }
  ],
  "blocks": [
    { "type": "group" },
    { "type": "_footer-nav" },
    { "type": "_footer-newsletter" }
  ]
}
{% endschema %}
