{% assign s = section.settings %}

{% capture section_spacing_style %}
  {% if s.padding_vertical == 'custom' %}
    --space-py: {{ s.padding_vertical_custom }}px;
  {% endif %}
  {% if s.padding_horizontal == 'custom' %}
     --space-px: {{ s.padding_horizontal_custom }}px;
  {% endif %}
{% endcapture %}
{% capture section_spacing_class %}
  section-py-{{ s.padding_vertical }}
  section-px-{{ s.padding_horizontal }}
{% endcapture %}
{% assign size_class = 'text-size-' | append: s.text_size %}

<section
  class="section-marquee color-{{ s.color_scheme | default: 'none' }}"
  {{ closest.attached_attributes }}
>
  <div
    class="bg-body text-body border-y border-std  width-{{ s.width_scheme }} limit-width {{ section_spacing_class }}"
    style="{{ section_spacing_style }}"
  >
    {% render 'marquee',
      items: s.text_list,
      speed: s.speed,
      direction: s.direction,
      size_class: size_class,
      uppercase: s.uppercase
    %}
  </div>
</section>

{% schema %}
{
  "name": "Scrolling Text",
  "settings": [
    { "type": "header", "content": "Layout" },
    {
      "type": "width_scheme",
      "id": "width_scheme",
      "label": "Max Content Width",
      "default": "full"
    },
    {
      "type": "text",
      "id": "text_list",
      "label": "Text",
      "default": "Reserve Now, Open Daily, Fresh Ingredients",
      "info": "Comma separated"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text Size",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" },
        { "value": "xl", "label": "Extra Large" },
        { "value": "display", "label": "Display" }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "uppercase",
      "label": "Uppercase",
      "default": true
    },
    {
      "type": "range",
      "id": "speed",
      "label": "Speed",
      "min": 5,
      "max": 60,
      "default": 20
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "right", "label": "Right" }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Style"
    },
    { "type": "header", "content": "Section Spacing" },
    {
      "type": "select",
      "id": "padding_vertical",
      "label": "Vertical Padding",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "xs", "label": "Extra Small" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "Extra Large" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "padding_vertical_custom",
      "label": "Custom Vertical Padding",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 80,
      "unit": "px",
      "conditional": "setting.padding_vertical == 'custom'"
    },
    {
      "type": "select",
      "id": "padding_horizontal",
      "label": "Horizontal Padding",
      "options": [
        { "value": "none", "label": "None" },
        { "value": "xs", "label": "Extra Small" },
        { "value": "sm", "label": "Small" },
        { "value": "md", "label": "Medium" },
        { "value": "lg", "label": "Large" },
        { "value": "xl", "label": "Extra Large" },
        { "value": "custom", "label": "Custom" }
      ],
      "default": "xs"
    },
    {
      "type": "range",
      "id": "padding_horizontal_custom",
      "label": "Custom Horizontal Padding",
      "min": 0,
      "max": 200,
      "step": 4,
      "default": 0,
      "unit": "px",
      "conditional": "setting.padding_horizontal == 'custom'"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Palette",
      "default": "default"
    }
  ],
  "presets": [
    {
      "name": "Scrolling Text"
    }
  ]
}
{% endschema %}
